header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

/*===============cta==============================*/

.cta{
    margin-top: 2.2rem;
    display: flex;
    gap: 1.2rem;
    justify-content:center;
}

/*========================socials=======================*/
.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left:18rem;
    bottom: 3rem;
}
.header_socials a{
    font-size: 1.3rem;
}
.header_socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-2);
}
/*========================img=======================*/
.me{
    background:linear-gradient(var(--color-2),transparent);
    width: 21rem;
    height: 23.6rem;
    position:relative;
    left: calc(50% - 11rem);/*======left=50% and transform:translateX(-50%)==========*/
    margin-top: 3rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 3rem 1rem 1rem 1rem;
}



/*-------------------------------medium----------------------------*/
@media screen and (max-width: 1024px){
    header{
        height: 68vh;
    }
   .header_socials{
    left: 5rem;
   }
}


/*-------------------------------small----------------------------*/
@media screen and (max-width: 600px){
    header{
        height: 100vh;
    }
    .header_socials, .scroll_down{
        display: none;
    }
}